<!-- welcome.index.html.erb -->
<!-- This is the landing page eventually create an admin.
only admin will be bale to view tutor,student, and appointments.  -->

<h1>Tutoring App</h1>

<% if student_logged_in?%>

  <h2>Website Homepage</h2>
  <p>
    <a href="/students">I'm a logged in Student, take me to my dash.</a>
  </p>

<% elsif tutor_logged_in?%>

 <h2>Website Homepage</h2>
  <p>
    <a href="/tutors">I'm a logged in Tutor, take me to my dash.</a>
  </p>


<% else %>

 <p>
    <a href="/session/new">Login</a>
  </p>

  <p>
    <a href="/students/new"> Student Sign Up</a>
  </p>

  <p>
    <a href="/tutors/new"> Tutor Sign Up</a>
  </p>




  <p>
    <a href="/students">See Students</a>
  </p>

  <p>
    <a href="/tutors">See Tutors</a>
  </p>

  <p>
    <a href="/appointments/new"> Make an Appointment</a>
  </p>

  <p>
    <a href="/appointments"> View Appointments Index</a>
  </p>



<% end %>

