<!-- welcome.index.html.erb -->

<h1>Tutoring App</h1>

  <p>
    <a href="/session/new">Login</a>
  </p>

  <p>
    <a href="/students/new"> Student Sign Up</a>
  </p>

  <p>
    <a href="/tutors/new"> Tutor Sign Up</a>
  </p>

  <p>
    <a href="/students">See Students</a>
  </p>

  <p>
    <a href="/tutors">See Tutors</a>
  </p>

  <p>
    <a href="/users">See Users</a>
  </p>








